<!DOCTYPE html>
<html lang="en-US">
    <head>
        <title>
            Color Picker
        </title>
        <link rel="stylesheet" href="styles/boxes.css"/>
        <link rel="stylesheet" href="styles/location.css" />
        <link rel="stylesheet" href="styles/index.css"/>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    </head>
    <div data-ng-app="colorPickerApp" data-ng-controller="colorPickerCtrl">
        <div id="heading" class="box key-text">
            Color Picker
        </div>
        <div id="rgb" class="box">
            <div id="redbox" class="single-box">
                Red: <input type="range" min=0 max=255 width="100%" ng-model="red"/>  {{red}}
            </div>    
            <div id="greenbox" class="single-box">
                Green: <input type="range" min=0 max=255 width="100%" ng-model="green"/> {{green}}
            </div>
            <div id="bluebox" class="single-box">
                Blue: <input type="range" min=0 max=255 width="100%" ng-model="blue"/> {{blue}}
            </div>
        </div>
    <div id="color" class="box">
        <div id="colorbox" class="single-box" style="background-color: rgb({{red}}, {{green}}, {{blue}}); border-color: rgb({{red}}, {{green}}, {{blue}});">
        </div>
        <span class = "text-box">RGB({{red}}, {{green}}, {{blue}})</span>
        <span class="text-box">HSL({{hue()}}&deg;, {{sat()}}%, {{light()}}%)</span>
        <span class="text-box">{{hex()}}</span>
    </div>
    <div id="colorlist" class="box">
        <div class="single-box">
            Color Name: <input type="text" width="100%" ng-model="colorName" class="text-inp"/>
        </div>
        <div class="single-box">
            <button class="button-type" ng-click="addColor()">Add Color</button>
        </div>
        <div id="colorlistbox" class="single-box">
            <table class="tablelist">   
                <th>
                    ColorName
                </th>
                <th>
                    ColorRGB
                </th>
                <th>
                    Color
                </th>
                <tr data-ng-repeat="x in colorlists | orderBy:'colorName'">
                    <td>
                        {{x.colorName}}
                    </td>
                    <td>
                        {{x.colorCode}}
                    </td>
                    <td style="background-color: {{x.colorCode}};" class="listbox">
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <script src="scripts/util.js"></script>
    <script src="scripts/app.js">            
    </script>
</html>