#heading {
    margin-left: 5%;
    margin-top: 0px;
    width: 85%;
}

#rgb {
    margin-top: 9%;
    margin-left: 5%;
}

#color {
    margin-top: 30%;
}

#colorlist {
    margin-left: 60%;
    margin-top: 9%;
    width: 30%;
}